{{ define "main" }}
<main class="container">
  <h2>{{ .Title }}</h2>
  {{ .Content }}

  <div id="quote-container" id="fade-me-in">
    <blockquote>
      <i></i>
      <footer></footer>
    </blockquote>
  </div>

  <div class="center-items">
    <span
      class="next-quote-action"
      role="button"
      tabindex="0"
      hx-get="/quote"
      hx-target="#quote-container"
      hx-indicator="this"
      hx-trigger="click, load"
      hx-on:click="this.blur()"
      hx-swap="swap:0.5s settle:0.4s"
    >
      Reveal another thought <span class="ornament">❧</span>
    </span>
  </div>

  <div class="center-items">
    <a href="{{ .Site.BaseURL }}" class="unchanging-link back-link">
      <- back
    </a>
  </div>
</main>
{{ end }}
