/* inter-400 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-400.woff2') format('woff2');
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter-600.woff2') format('woff2');
}

/* hack-nerd-font-regular */
@font-face {
    font-display: swap;
    font-family: 'Hack Nerd Font';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/hack-regular.woff2') format('woff2');
}

/* pixelify-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Pixelify Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/pixelify-sans-v1-latin-700.woff2') format('woff2');
}
