/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* hack-nerd-font-regular */
@font-face {
    font-display: swap;
    font-family: 'Hack Nerd Font';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/hack-regular.woff2') format('woff2');
  }
  /* hack-nerd-font-italic */
  @font-face {
    font-display: optional;
    font-family: 'Hack Nerd Font';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/hack-italic.woff2') format('woff2');
  }
  /* hack-nerd-font-bold */
  @font-face {
    font-display: swap;
    font-family: 'Hack Nerd Font';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/hack-bold.woff2') format('woff2');
  }
  /* hack-nerd-font-bold-italic */
  @font-face {
    font-display: optional;
    font-family: 'Hack Nerd Font';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/hack-bold-italic.woff2') format('woff2');
  }
  /* pixelify-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Pixelify Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pixelify-sans-v1-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }