{{ define "main" }}
<main class="container blog-container">
  <h1>{{ .Title }}</h1>
  <small class="date">Published: {{.Date.Format "2006-01-02" }}</small>
  <img
    src="/blog/images/{{ .Params.featured_image }}"
    width="260px"
    height="260px"
    alt="{{ .Title }}"
  />
  <p class="description"><i>{{.Description }}</i></p>
  <hr />
  <br />
  <!--<div id="tags">-->
  <!--<p>-->
  <!--{{ range .Params.tags }}-->
  <!--[><a href="/blog/tags/{{. }}">{{. }}</a><]-->
  <!--{{ end }}-->
  <!--</p>-->
  <!--</div>-->
  {{ .Content }}
  <br />
  <hr />
  <br />
  <div class="center-items">
    <a href="/blog/" class="unchanging-link back-link"> <- back </a>
  </div>
</main>
{{ end }}
