<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ .Site.Title }}{{ if ne .Kind "home" }} | {{ .Title }}{{ end }}
    </title>
    {{- if .IsHome -}}
    <meta name="description" content="{{ site.Params.description }}" />
    {{- else -}}
    <meta name="description" content="{{ .Params.description }}" />
    {{- end }} {{ $style := resources.Get "scss/style.scss" |
    resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify |
    fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ partial "htmx" . }} {{ partial "syntax" . }}
  </head>
  <body>
    <header>
      <div class="hero-image-container">
        <a href="/">
          <img
            class="hero-image"
            src="/images/bull.webp"
            width="150px"
            height="120px"
            alt="Pixelated image of a bull."
          />
        </a>
      </div>
      <div class="title-socials-container">
        <div class="site-title">
          <h1>{{ .Site.Title }}</h1>
        </div>
        <div class="social-div">
          <ul class="social-list">
            <li>
              <a
                aria-label="LinkedIn profile"
                class="social-link"
                href="https://www.linkedin.com/in/shanehull0"
                target="_blank"
              >
                {{ readFile "/assets/icons/li.svg" | safeHTML }}
              </a>
            </li>
            <li>
              <a
                aria-label="X profile"
                class="social-link"
                href="https://twitter.com/shed_one"
                target="_blank"
              >
                {{ readFile "/assets/icons/x.svg" | safeHTML }}
              </a>
            </li>
            <li>
              <a
                aria-label="GitHub profile"
                class="social-link"
                href="https://github.com/shanehull"
                target="_blank"
              >
                {{ readFile "/assets/icons/gh.svg" | safeHTML }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    {{ block "main" . }}{{ end }}
  </body>
</html>
