{{ partial "chart-js.html" . }}
<script
  src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.2.0/dist/chartjs-plugin-zoom.min.js"
  integrity="sha384-dwwI6ICEN/0ZQlS5owhUa/6ZzvwUPmjH45bFVCAcjgjTulbHJvlE+TGU3g1k0N3R"
  crossorigin="anonymous"
  defer
></script>
{{ $chartInit := resources.Get "js/chart-init.js" | minify | fingerprint "sha384" }}
<script
  src="{{ $chartInit.RelPermalink }}"
  integrity="{{ $chartInit.Data.Integrity }}"
  defer
></script>
{{ $chartShareable := resources.Get "js/chart-shareable.js" | minify | fingerprint "sha384" }}
<script
  src="{{ $chartShareable.RelPermalink }}"
  integrity="{{ $chartShareable.Data.Integrity }}"
  defer
></script>
